// Hero
.hero {
  .container {
    .header-wrapper {
      position: relative;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .headline {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2;
      }

      .buttons-wrapper {
        margin-top: 2rem;

        .btn {
          margin-right: 1rem;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 80%;
        width: auto;
        opacity: 0.5;
        z-index: -1;
      }
    }
  }
}
